<html>
    <head>
        <title>Add Shoe</title>
    </head>
    <body>
        <h1>Add a New Shoe</h1>
        <form method="post" action="{% url "add_shoe" %}">
            {% csrf_token %}
            <label for="sName">Shoe Name:</label>
            <input type="text" name="sName"><br>

            <label for="sbrand">Brand:</label>
            <input type="text" name="sbrand"><br>

            <label for="size">Size:</label>
            <input type="text" name="size"><br>

            <label for="stype">Type:</label>
            <input type="text" name="stype"><br>

            <label for="price">Price:</label>
            <input type="text" name="price"><br>

            <label for="status">Status:</label>
            <select name="status">
                <option value="Men">Men</option>
                <option value="Women">Women</option>
                <option value="Girls">Girls</option>
                <option value="Boys">Boys</option>
            </select><br>

            <input type="submit" value="Add Shoe">
    </body>
</html> 